* {
  margin: 0;
  padding: 0;
}

.navigasi {
  background-color: maroon;
  width: 100%;
  height: 70px;
  position: fixed;
}
.menu ul li {
  list-style: none;
  display: inline;
}

.menu ul li a {
  text-decoration: none;
  color: white;
  padding: 0px 15px 0px 15px;
  font-weight: bold;
  font-size: 20px;
}

.logo {
  float: left;
  margin-left: 30px;
  margin-top: 5px;
  color: white;
  font-family: cursive;
  font-size: 25px;
}
.menu {
  float: right;
  margin-right: 30px;
  margin-top: 18px;
}
.menu ul li a:hover {
  color: brown;
}
.layar1 {
  background-image: url("./img/unnamed.jpg");
  background-repeat: no-repeat;
  background-position: center;
  
  background-size: cover;
  height: 950px;
  text-align: center;
  padding: 100px 10px 20px 10px;
}
.layar1 img {
  margin-top: 15px;
  border-radius: 120px;
  height: 250px;
  margin-top: 100px;
}
.layar1 h1 {
  margin-top: 10px;
  color: black;
  font-size: 40px;
  background-color: 
  background-color: #000;
  color: #fff;
}
.layar1 h3 {
  color: ;
  margin-top: 20px;
  margin-bottom: 20px;
}
.box_tulisan {
  background-color: #070707;
  color: #fff;
  opacity: 0.8;
}
.pc img {
  height: 300px;
  width: ;
}

.layar2 {
  background-image: url("./img/room-8779510_1280.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 950px;
  text-align: center;
  padding: 100px 10px 20px 10px;
}
.layar2 h1 {
  color: #fff;
  padding-top: 50px;
}
.box-produk {
    display:grid;
    justify-content: center;
    grid-template-columns: repeat(2,500px);
    padding-top: 30px;
}
.box-produk img {
  height: 300px;
}
.box-produk p {
  font-size: 30px;
  color: white;
}
.pc img {
 
}
.laptop img {
  
}

